@charset "utf-8";
/* 冒頭でimport */
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap&subset=japanese');
/* フォントを指定したいところで */

logo img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover; /* 画像のトリミング */
}

logotohome img{
    border-radius: 70%;
    width: 70px;
    height: 70px;
    object-fit: cover; /* 画像のトリミング */
}



/* ========== common ========== */
html, body {
	font-size: 16px;
	font-family: sans-serif;
	color: #00253d;
    margin-left: 15px;
    margin-bottom: 40px;
	
}

h2{
    margin-left: 1em;
    margin-top: 1em;
}
h3{
    margin-left: 2em;
}
div{
    margin-top: 1em;
    margin-left: 3em;
}
p{
    margin-left: 3em;
}

body{
    width: 960px;
    margin: auto;
}
img {
    box-shadow: 20px 20px 0px rgba(116, 155, 239, 0.8); /* 影のオフセット、ぼかし、色、不透明度 */
}
/*ノート風バックグラウンド*/
.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: -1;
}

/*題名デザイン*/
h1.title-03 {
  position: relative;
  padding: 8px 16px;
  border-top: solid 1px #00253d;
  border-bottom: solid 1px #00253d;
  font-family: 'Noto Serif JP', serif;
  font-size: 40px;
  letter-spacing: 0.1em;
  color: #00253d;
  font-weight: 400;
  display: block;
  box-sizing: border-box;
  max-width: 500px;
  text-align: center; 
  margin: 24px;
  margin-inline: auto;
}

.title-03::before, .title-03::after {
  content: '';
  position: absolute;
  width: 1px;
  height: calc(100% - 16px);
  background: #333;
  align-items: center;
}

.title-03::before {
  left: -8px;
}

.title-03::after {
  right: -8px;
}
.Paper_v2 {
  background-image:
    repeating-linear-gradient(to bottom,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),
  
    repeating-linear-gradient(to right,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
}
.card-5 {
  box-sizing: border-box;
  width: 50em;
  padding: 1.2em 2em;
  margin: 0 auto;
  color: #333232;
   background: #fefeff;
  border: 0.5px solid #e9eaea;
  border-radius: 10px;
  box-shadow: 0 0 10px #c5c5c5,0 0 15px #fff;
  transition: 0.3s;
  transition: transform 0.3s ease;
}
.card-5:hover {
  transform: scale(1.05) translateY(-4px);
}
.button-20 a {
  font-family: 'Noto Sans JP', serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #333;
  font-weight: 700;
  display: block;
  position: relative;
  box-sizing: border-box;
  max-width: 180px;
  text-align: center; 
  padding: 4px 16px 4px 0;
  margin: 24px;
  margin-inline: auto;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

.button-20 a::before {
  content: "";
  display: block;
  position: absolute;
  width: 180px;
  height: 2px;
  background: #333;
  bottom: 0;
  transition: all 0.3s;
}

.button-20 a::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  background: #333;
  rotate: 40deg;
  right: -4px;
  bottom: 10px;
  transition: all 0.3s;
}

.button-20 a:hover::after,
.button-20 a:hover::before {
  translate: 20px 0;
  transition: all 0.3s;
}