@charset "utf-8";
/* 冒頭でimport */
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap&subset=japanese');
/* フォントを指定したいところで */

.logo img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover; /* 画像のトリミング */
}

.logotohome img {
    border-radius: 70%;
    width: 70px;
    height: 70px;
    object-fit: cover; /* 画像のトリミング */
}

 body {
	font-size: 16px;
	font-family: sans-serif;
    color:#232121;
    margin-left: 15px;
    margin-bottom: 40px; 
}
.nanamestripe {
  height: 1800px;
  margin: 50px 0;
  background: repeating-linear-gradient(-45deg, #ddd 0, #ddd 2px, #FFF 4px, #FFF 6px);
}

h3{
    margin-left: 2em;
     font-size: 20px;
}
div{
    margin-top: 1em;
    margin-left: 3em;
}
p{
    margin-left: 3em;
}
span.blackback{
    text-indent: 3em;
  background:#ddf1ff; 
    color:#422b2b;
}

h1{
    text-indent: 0em;
    font-size: 50px;
/*見出しロゴ*/
}
h2{
    margin-left: 1em;
    margin-top: 1em;
    font-size: 30px;
}
.card-5 {
  box-sizing: border-box;
  width: 50em;
  padding: 1.2em 2em;
  margin: 0 auto;
  color: #333232;
   background: #f1f1f1;
  border: 0.5px solid #e9eaea;
  border-radius: 10px;
  box-shadow: 0 0 10px #393939,0 0 15px #fff;
  transition: 0.3s;
  transition: transform 0.3s ease;
}
.card-5:hover {
  transform: scale(1.05) translateY(-4px);
}
.button-20 a {
  font-family: 'Noto Sans JP', serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #333;
  font-weight: 700;
  display: block;
  position: relative;
  box-sizing: border-box;
  max-width: 180px;
  text-align: center; 
  padding: 4px 16px 4px 0;
  margin: 24px;
  margin-inline: auto;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

.button-20 a::before {
  content: "";
  display: block;
  position: absolute;
  width: 180px;
  height: 2px;
  background: #333;
  bottom: 0;
  transition: all 0.3s;
}

.button-20 a::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  background: #333;
  rotate: 40deg;
  right: -4px;
  bottom: 10px;
  transition: all 0.3s;
}

.button-20 a:hover::after,
.button-20 a:hover::before {
  translate: 20px 0;
  transition: all 0.3s;
}